<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<title>Imager</title>
		<link rel="stylesheet" href="/reset.css" media="screen">
		<link rel="stylesheet" href="/style.css" media="screen">
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
		<script src="/postTemplate.js"></script>
		<script src="/index.js" charset="utf-8" defer></script>
	
	</head>

	<body>
	
		{{> header}}
	
		{{{body}}}
	
		<div class="hidden" id="new-post-background"></div>
		<div class="hidden" id="new-post-container">
			<div id="new-post-div">
				<a class="new-post">Create a new post</a>
				<br>
				<input id="new-post-input-url" type="url" placeholder="image url">
				<br>
				<input id="new-post-input-caption" type="text" placeholder="caption">
				<br>
				<input id="new-post-cancel" type="submit" value="Cancel">
				<input id="new-post-submit" type="submit" value="Submit">
			</div>
		</div>
	</body>

</html>